In [1]:
import pandas as pd
from fuzzywuzzy import process, fuzz  # <-- note the difference
from difflib import SequenceMatcher

C:\Users\ABaker\Anaconda3\envs\fuzzy\lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [22]:
billing_circuit = pd.read_csv("C:/Users/ABaker/Desktop/Frontier/Billing_Circuit.csv", encoding="utf-8")
m6_circuit = pd.read_csv("C:/Users/ABaker/Desktop/Frontier/M6_Circuit.csv", encoding="utf-8")

In [26]:
billing_circuit.CIRCUIT.fillna(billing_circuit.CIRCUIT, inplace = True)
m6_circuit.CIRCUIT.fillna(m6_circuit.CIRCUIT, inplace = True)
billing_circuit.loc[:, 'CIRCUIT'] = billing_circuit.CIRCUIT.astype(str)
m6_circuit.loc[:, 'CIRCUIT'] = m6_circuit.CIRCUIT.astype(str)

In [27]:
billing_circuit.head()

                            CIRCUIT
0  Z801/OC3/RDMDWARKH01/RDMDWARKO03
1                        XXXXXXXXXX
2                             XXXXX
3                   XHGS/243059//MB
4           X PENDING STILL 3/31/16

In [28]:
m6_circuit.head()

                       CIRCUIT
0  50/VLXP/937555/   /CZUC/
1  50/VLXP/996537/   /CZUC/
2  64/CUXM/635198/001/CZUC/
3  64/CUXM/635198/002/CZUC/
4  64/CUXM/635198/003/CZUC/

In [29]:
billing_circuit = billing_circuit.head(n=10000)

In [30]:
m6_circuit = m6_circuit.head(n=10000)

In [ ]:
query = billing_circuit['CIRCUIT']
choices = m6_circuit['CIRCUIT']

for query in query:
    #       vvvvvvv  note the difference
    match = process.extractOne(query,choices=choices,scorer=fuzz.token_sort_ratio,score_cutoff=80)

In [ ]:
print(match)

#### Fuzzy Matching tutoral from here : http://blog.keyrus.co.uk/fuzzy_matching_101_part_ii.html

In [ ]:
#billing_circuit.loc[:,]
#billing_circuit.dtypes
m6_circuit.dtypes

In [ ]:
def fuzzy_match(entity, choices, scorer, cutoff):
    return process.extractOne(
        entity, choices=choices, scorer=scorer, score_cutoff=cutoff
    )

In [ ]:
matching_results = billing_circuit.loc[:,].apply(
    fuzzy_match,
    args=(
        m6_circuit.loc[:,], # choices
        fuzz.ratio,                 # scorer
        80                          #cutoff
    )
)

In [ ]:
changed as suggested above, changed the loop as well to: for row in names.itertuples(): print((row[1])) match = process.extractOne(row[1],reference,partial_token_set_ratio,score_cutoff=70) and still cannot get it working. This time there is a different error : NameError: name 'partial_token_set_ratio' is not defined – Chris May 6 at 23:43 
It may be that fuzzywuzzy isn't very smart about its imports. Try adding from fuzzywuzzy import fuzz to your imports and see what happens. – PaSTE May 7 at 0:13
it seems that the apply function is the better way than a loop, as demonstrated here blog.keyrus.co.uk/fuzzy_matching_101_part_ii.html – Chris May 8 at 19:19

In [ ]:
query = set_1['name']
choices = set_2['name2']

for query in query:
    #       vvvvvvv  note the difference
    match = process.extractOne(query,choises=choises,scorer=scorer,score_cutoff=cutoff)